<header th:replace="_header"> </header>

		<div class="col-md-12 border p-3">
			<span th:if="${infylist.isEmpty()}">
				<span>No Data Available</span>
			</span>
			
			<div th:if="${infylist.size()}" class="alert alert-secondary alert-dismissible fade show" role="alert">
					<strong th:text="'Showing ' + ${infylist.size()} + ' recent records.'"></strong>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
			
			
			
			
	<script th:inline="javascript">
	/*<![CDATA[*/
		var infylist = /*[[${infylist}]]*/[[]];
		var tcslist = /*[[${tcslist}]]*/[[]];
	/*]]>*/
	</script>


	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript">
		google.charts.load('current', {'packages':['line']});
		google.charts.setOnLoadCallback(drawChartTcs);
		google.charts.setOnLoadCallback(drawChartInfy);

		infylist.forEach((x, i) => {
			d = x[0].split(' ').map(Number);
			x[0] = new Date(d[0], d[1]-1, d[2], d[3], d[4])
			console.log(x[0] + " -- " + d)
		});
		tcslist.forEach((x, i) => {
			d = x[0].split(' ').map(Number);
			x[0] = new Date(d[0], d[1]-1, d[2], d[3], d[4])
		});

		function drawChartTcs() {
			var data = new google.visualization.DataTable();
			data.addColumn('date', 'Day');
			data.addColumn('number', 'TCS');
	
			data.addRows(tcslist);
	
			var options = {
				chart: {
					//interpolateNulls: true,
					title: 'Today\'s NSE trends - TCS',
					subtitle: 'in rupees (INR)'
				},
				width: 900,
				height: 400
			};
			var chart = new google.charts.Line(document.getElementById('linechart_tcs'));
			chart.draw(data, google.charts.Line.convertOptions(options));
		}
		
		function drawChartInfy() {
			var data = new google.visualization.DataTable();
			data.addColumn('date', 'Day');
			data.addColumn('number', 'INFY');
			//data.addColumn('number', 'Transformers: Age of Extinction');
	
			data.addRows(infylist);
	
			var options = {
				chart: {
					//interpolateNulls: true,
					title: 'Today\'s NSE trends - Infosys',
					subtitle: 'in rupees (INR)'
				},
				width: 900,
				height: 400
			};
			var chart = new google.charts.Line(document.getElementById('linechart_infy'));
			chart.draw(data, google.charts.Line.convertOptions(options));
		}
		
		</script>
		<div id="linechart_tcs" class="m-2 p-5 border border-warning" ></div>
		<div id="linechart_infy" class="m-2 p-5 border border-warning" ></div>
	

			
			
				
			</div>
	
<footer th:replace="_footer"></footer>